@import '/src/styles/variables';
@import '/src/styles/mixins';

.question {
    margin: 10px 0px;

    .question__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: $purple;
        background-color: $white;
        border-radius: 20px;
        cursor: pointer;
    }

    .question__text {
         padding: 10px 20px;
         color: $white;
    }
}