@import "../../styles/variables";
@import "../../styles/mixins";

.sideway-text {
    background: $blackZero;

    .sideway-text__blocks {
        padding: 1em 0;

        p {
            font-size: 4em;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            position: relative;
            line-height: 1;

            span {
                font-family: $font-family-secondary;

                &:nth-child(2n) {
                    color: $green;
                }
                &:nth-child(2n + 1) {
                    color: $black;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $white;
                }
            }

            &:nth-child(2) span {
                color: $white;

                &:nth-child(2n) {
                    color: $black;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $white;
                }
            }

            @include screen-small {
                font-size: 3em;
            }
        }
    }
}
