@import "../../styles/variables";
@import "../../styles/mixins";

.sideway-text {
    .sideway-text__intro {
        margin-bottom: 20px;

        .intro__time {
            text-align: center;
            margin-bottom: 50px;
            font-size: 3em;
            text-transform: uppercase;

            span {
                display: inline-block;

                &:nth-child(2) {
                    color: $green;
                    margin: 0 10px;
                }
            }
        }

        .intro__text {
            text-align: center;
            font-size: 2em;
        }
    }

    .sideway-text__blocks {
        margin-bottom: 100px;

        p {
            font-size: 10em;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            position: relative;
            line-height: 1;

            span {
                &:nth-child(2n) {
                    color: $blackZero;
                }
            }

            &:nth-child(2) span {
                color: $green;

                &:nth-child(2n) {
                    color: $blackZero;
                }
            }
        }
    }

    .sideway-text__heading {
        position: relative;
        text-align: center;
        font-size: 4em;
        text-transform: uppercase;
        font-weight: bold;

        span {
            display: inline-block;
            position: relative;
            cursor: default;
            transition: 0.3s ease all;

            &:nth-child(2) {
                margin: 0 10px;
                color: $green;
            }
        }
    }
}
