.sideway-text {
  background: #000;
}
.sideway-text .sideway-text__blocks {
  padding: 1em 0;
}
.sideway-text .sideway-text__blocks p {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  position: relative;
  line-height: 1;
  transition: 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sideway-text .sideway-text__blocks p span {
  font-family: "Inconsolata", monospace;
}
.sideway-text .sideway-text__blocks p span:nth-child(2n) {
  color: #22ffb8;
}
.sideway-text .sideway-text__blocks p span:nth-child(2n+1) {
  color: #131517;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.sideway-text .sideway-text__blocks p:nth-child(2) span {
  color: #ffffff;
}
.sideway-text .sideway-text__blocks p:nth-child(2) span:nth-child(2n) {
  color: #131517;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .sideway-text .sideway-text__blocks p {
    font-size: 3em;
  }
}