.features-index {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.features-index .features-index__list {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  background: #ffffff;
  border: 1px solid #131517;
}
.features-index .features-index__list li {
  margin: 0;
  cursor: pointer;
  padding: 10px 15px;
  display: block;
  border-bottom: 1px solid #131517;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease all;
}
.features-index .features-index__list li:last-child {
  border-bottom: none;
}
.features-index .features-index__list li:hover {
  background: #fafafa;
}
.features-index .features-index__list li.features-index__feature--active {
  background: #22ffb8;
}
@media only screen and (max-width: 1023px) {
  .features-index .features-index__list {
    max-width: 225px;
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 767px) {
  .features-index .features-index__list {
    top: 80px;
    max-width: 185px;
  }
}
@media only screen and (max-width: 468px) {
  .features-index .features-index__list {
    border: none;
  }
  .features-index .features-index__list li {
    display: none;
  }
}
.features-index .features-index__info {
  flex: 1;
  padding-left: 40px;
}
.features-index .features-index__info .features-index__info-block {
  background: #ffffff;
  border: 1px solid #131517;
  box-shadow: 4px 4px 0 0 #22ffb8;
  margin-bottom: 20px;
  padding: 20px;
  transition: 0.3s ease all;
}
.features-index .features-index__info .features-index__info-block p {
  font-size: 0.85em;
}
.features-index .features-index__info .features-index__info-block--active {
  box-shadow: 4px 4px 0 0 #dd0047;
  border-width: 2px;
}
.features-index .features-index__info .features-index__info-block:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .features-index .features-index__info {
    padding-left: 20px;
  }
  .features-index .features-index__info .features-index__info-block h2 {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 468px) {
  .features-index .features-index__info {
    padding-left: 0;
  }
  .features-index .features-index__info .features-index__info-block {
    border-width: 1px !important;
    box-shadow: 4px 4px 0 0 #22ffb8 !important;
  }
}