.blog-content {
  max-width: 1000px !important;
  padding: 0 20px;
}
.blog-content h2 {
  margin-top: 2rem;
}
.blog-content .blog-content__breadcrumbs {
  background: #fafafa;
  border: 1px solid #dddddd;
  padding: 5px 10px;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: scroll;
}
.blog-content .blog-content__breadcrumbs a,
.blog-content .blog-content__breadcrumbs small {
  display: inline-block;
  margin-right: 5px;
}
.blog-content .blog-content__breadcrumbs::-webkit-scrollbar {
  display: none;
}
.blog-content code {
  background: #131517;
  color: #10dab9;
  padding: 0.25em 0.5em 0.25em !important;
}
.blog-content .rte-image {
  display: block;
  box-shadow: 9px 9px 0 0 #131517;
  margin-bottom: 2em;
}
.blog-content ul,
.blog-content ol {
  background: #fff5eb;
  padding: 20px 20px 0 40px;
  margin-bottom: 1.5em;
}
.blog-content ul p,
.blog-content ol p {
  margin-bottom: 0 !important;
  padding-bottom: 20px;
}
.blog-content ul {
  list-style: disc;
}
.blog-content ol {
  list-style: auto;
}
.blog-content .rte-block-entry {
  display: block;
  box-shadow: 9px 9px 0 0 #131517;
  margin-bottom: 2rem;
}
.blog-content .rte-block-entry .rte-block-entry__text {
  padding: 20px;
  position: relative;
}
.blog-content .rte-block-entry .rte-block-entry__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #131517;
  background: linear-gradient(0deg, rgba(19, 21, 23, 0.3) 0%, rgba(19, 21, 23, 0.85) 100%);
  z-index: 2;
}
.blog-content .rte-block-entry .rte-block-entry__text h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff !important;
  position: relative;
  z-index: 3;
  margin-bottom: 0;
}
.blog-content .rte-block-entry .rte-block-entry__text span,
.blog-content .rte-block-entry .rte-block-entry__text p {
  position: relative;
  z-index: 3;
}
.blog-content .rte-block-entry .rte-block-entry__text p {
  color: #ffffff;
  margin: 20px 0;
  font-size: 0.85em;
}