@import "../../styles/variables";
@import "../../styles/mixins";

.side-drawer {
    &__content {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 500px;
        display: block;
        transition: 0.3s ease all;
        background: $black;
        right: -500px;
        padding: 40px;
        z-index: 9999;

        .side-drawer__header {
            width: 100%;
            position: relative;
            margin-bottom: 20px;

            .extra-nav__close {
                cursor: pointer;
                z-index: 2;
                display: flex;

                img {
                    filter: invert(1);
                }
            }
        }

        @include screen-small {
            width: 300px;
            padding: 20px;
            right: -300px;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9998;
        background: rgba($black, 0.9);
        transition: 0.3s ease all;
        visibility: hidden;
        opacity: 0;
    }

    &--open {
        .side-drawer__content {
            right: 0;
        }

        .side-drawer__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    .main-contact__form {
        @include screen-height-small {
            .input,
            .mb-5,
            .button,
            .textarea {
                font-size: 0.9rem !important;
            }
        }
    }
}
