@import "../../styles/variables";

.side-drawer {
    &__content {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
        display: block;
        transition: 0.3s ease all;
        background: $black;
        right: -300px;
        padding: 20px;
        z-index: 9999;

        .side-drawer__header{
            width: 100%;
            height: 45px;
            position: relative;
            margin-bottom: 20px;

            .extra-nav__close {
                padding: 10px;
                position: absolute;
                left: 0px;
                top: 0px;
                transition: 0.3s ease all;
                cursor: pointer;
                z-index: 2;
    
                img {
                    filter: invert(1);
                    transform: scale(1.5);
                    width: 15px;
                }
    
                &:hover {
                    transform: rotate(45deg);
                }
            }
        } 
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9998;
        background: rgba($black, 0.9);
        transition: 0.3s ease all;
        visibility: hidden;
        opacity: 0;
    }

    &--open {
        .side-drawer__content {
            right: 0;
        }

        .side-drawer__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    .main-contact__form {
    }
}
