.sidebar-info-text {
  display: flex;
}
.sidebar-info-text .sidebar-info-text__left {
  margin: 0 100px 0 0;
  max-width: 400px;
}
.sidebar-info-text .sidebar-info-text__left ul {
  list-style: none;
}
.sidebar-info-text .sidebar-info-text__left ul li {
  border-bottom: 1px solid #dddddd;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.sidebar-info-text .sidebar-info-text__left ul li:last-child {
  margin-bottom: 0;
}
.sidebar-info-text .sidebar-info-text__left ul li h5 {
  margin-bottom: 10px;
}
.sidebar-info-text .sidebar-info-text__left--list {
  padding-right: 50px;
  margin-right: 50px;
  border-right: 1px solid #575757;
}
.sidebar-info-text .sidebar-info-text__left--list ul {
  list-style: circle;
  list-style-position: inside;
}
.sidebar-info-text .sidebar-info-text__left--list ul li {
  border-bottom: none;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.sidebar-info-text .sidebar-info-text__left--list ul li p {
  line-height: 1.5;
  display: inline;
}
.sidebar-info-text .sidebar-info-text__right {
  flex: 1;
}
.sidebar-info-text .sidebar-info-text__right h4:nth-of-type(n + 2) {
  margin-top: 2em;
}
.sidebar-info-text .sidebar-info-text__right p {
  margin-top: 1em;
  line-height: 1.5;
}
@media only screen and (max-width: 1215px) {
  .sidebar-info-text .sidebar-info-text__left {
    min-width: 300px;
  }
}
@media only screen and (max-width: 1023px) {
  .sidebar-info-text {
    display: block;
  }
  .sidebar-info-text .sidebar-info-text__left {
    margin: 0 0 40px !important;
    max-width: none;
    padding-right: 0;
    border-right: 0;
  }
}