@import "/src/styles/mixins";
@import "src/styles/variables";

.bottom-cta {
	position: relative;

	.bottom-cta__gradient {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $black;
		background: linear-gradient(90deg, $black 0%, $black 50%, rgba($black, 0) 100%);
	}

	.bottom-cta__content {
		z-index: 2;
		position: relative;

		h3 {
			margin-bottom: 15px;
		}

		.vm-button {
			margin-top: 25px;
		}
	}

	&--white {
		.bottom-cta__gradient {
			background: $white;
			background: linear-gradient(90deg, $white 0%, $white 50%, rgba($white, 0) 100%);
		}

		.bottom-cta__content {
			h3,
			p {
				color: $black;
			}
		}
	}

	&--green {
		.bottom-cta__gradient {
			background: $green;
			background: linear-gradient(90deg, $green 0%, $green 50%, rgba($green, 0) 100%);
		}

		.bottom-cta__content {
			h3,
			p {
				color: $black;
			}
		}
	}
}
