@import '/src/styles/mixins';
@import 'src/styles/variables';

.bottom-cta__section {
	display: flex;
	background-color: #AAACAE;

	.bottom-cta__section-left-banner {
		width: 50%;
		border: none;
	}

	.bottom-cta__section-right-banner {
		width: 50%;
		display: flex;
		justify-content: center;
		background-image: linear-gradient(to left, transparent 100%, #AAACAE 50% #AAACAE 100%),url('../../images/bottom-cta-banner.jpg');

		.bottom-cta__btn-container {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding-left: 20px;
		}
	}
}
