@import "/src/styles/variables";
@import "/src/styles/mixins";

.table-of-contents {
    height: fit-content;
    min-height: 200px;
    flex: 1;
    position: sticky;
    top: 40px;
    color: $black;
    border: 1px solid $black;
    box-shadow: 9px 9px 0 0 $black;
    padding: 30px;
    margin-bottom: -2em;
    line-height: 1.5;
    margin-top: 0px;
    margin-right: -20px;
    cursor: pointer;
    background-color: $white;

    .table-of-contents__title {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;

        .extra-nav__close {
            display: none;
        }
    }

    .table-of-contents__content {
        padding: 20px 0;

        a {
            &.active {
                span {
                    color: $black;
                    margin-left: 10px;
                    transition: all 0.3s ease;
                    font-weight: 500;

                    &::before {
                        content: "•";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 5px;
                        color: $pink;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        span {
            color: $black;
            font-size: 18px;
            transition: all 0.3s ease;
        }

        .table-of-contents__h2 {
            font-weight: 500;
        }

        .table-of-contents__h4 {
            margin-left: 15px;
        }

        a {
            width: 100%;
            display: block;
        }
    }

    @include screen-general {
        position: fixed;
        z-index: 999999;
        bottom: 0;
        left: 0;
        right: 0;
        top: inherit;
        min-height: inherit;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;

        .table-of-contents__title {
            display: none;
        }

        .table-of-contents__content {
            padding: 0;

            a {
                display: none;

                span.table-of-contents__h4 {
                    margin-left: 0;
                }

                &.active {
                    margin: 0;
                    width: fit-content;

                    span {
                        font-size: 14px;
                        margin-left: -15px;
                    }
                }

                &.active,
                &.active-next,
                &.active-previous {
                    display: block;
                    width: fit-content;
                }

                &.active-next,
                &.active-previous {
                    span {
                        color: $darkGrey;
                        opacity: 0.5;
                        font-size: 14px;
                    }
                }
            }
        }

        &.table-of-contents__open {
            height: 100%;
            top: 0;

            .table-of-contents__title {
                display: flex;
                .extra-nav__close {
                    display: block;
                    transform: rotate(0deg);
                    transition: all 0.3s ease;
                }
            }
            .table-of-contents__content {
                a {
                    display: block;
                    padding: 5px;

                    span {
                        margin: 0;

                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            margin: 0;
                        }

                        &.table-of-contents__h2 {
                            font-size: 16px !important;
                        }

                        &.table-of-contents__h4 {
                            font-size: 14px !important;
                        }
                    }

                    &.active-next,
                    &.active-previous {
                        span {
                            color: $black;
                            opacity: 1;

                            &.table-of-contents__h2 {
                                font-size: 16px !important;
                                font-weight: 500;
                            }

                            &.table-of-contents__h4 {
                                font-size: 14px !important;
                                font-weight: 400;
                            }
                        }
                    }

                    &.active {
                        margin: 0;

                        .table-of-contents__h2 {
                            font-size: 16px !important;
                            font-weight: 500;
                        }

                        .table-of-contents__h4 {
                            font-size: 14px !important;
                            font-weight: 400;
                        }
                    }

                    span.table-of-contents__h4 {
                        margin-left: 20px;
                    }

                    span.table-of-contents__h2 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}
