@import "/src/styles/variables";
@import "/src/styles/mixins";

.table-of-contents {
    height: fit-content;
    min-height: 200px;
    flex: 1;
    position: sticky;
    top: 40px;
    color: $black;
    border: 1px solid $black;
    box-shadow: 9px 9px 0 0 $black;
    padding: 30px;
    margin-bottom: -2em;
    line-height: 1.5;
    margin-top: 0px;
    margin-right: -20px;
    cursor: pointer;
    background-color: $white;
    min-width: 425px;
    max-width: 425px;

    .table-of-contents__title {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;

        .table-of-contents__toggle {
            display: none;
        }
    }

    .table-of-contents__content {
        .table-of-contents__chapter {
            margin-bottom: 10px;
            width: 100%;
            display: block;

            &:hover span {
                text-decoration: underline;
            }

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: $black;
                display: block;
                transition: all 0.3s ease;
            }

            &.active {
                span {
                    color: $black;
                    font-weight: 600;
                    position: relative;
                    display: block;

                    &::before {
                        position: absolute;
                        left: -10px;
                        top: 12px;
                        content: "";
                        display: inline-block;
                        border-radius: 100%;
                        width: 4px;
                        height: 4px;
                        background: $pink;
                    }
                }
            }
        }

        .table-of-contents__h4 {
            margin-left: 15px;
            font-size: 16px;
            line-height: 28px;
        }
    }

    @include screen-large {
        position: relative;
        top: inherit;
        min-height: inherit;
        padding: 0px;
        margin: 0;
        display: flex;
        border: none;
        flex-direction: column;
        min-width: 0;
        max-width: 100%;

        .table-of-contents__title {
            padding: 10px 20px;
            margin: 0;
            font-size: 18px;

            .table-of-contents__toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(180deg);
            }
        }

        .table-of-contents__content {
            display: none;
        }

        &.table-of-contents__open {
            height: 100vh;
            top: 0;
            padding: 20px 30px;

            .table-of-contents__title {
                padding: 0;
                font-size: 22px;

                .table-of-contents__toggle {
                    transform: rotate(0deg);
                }
            }

            .table-of-contents__content {
                display: block;
                margin-top: 10px;
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}
