@import "../../styles/variables";
@import "../../styles/mixins";

.card-team {
	background-color: $white;
	width: calc(25% - 30px);
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.card-img-team,
	.card-title,
	.card-media-content,
	.card-content,
	.card-subtitle {
		color: $black;
	}

	.card-content {
		padding: 20px;
		flex: 1;
	}

	.card-img-team {
		display: flex;
		justify-content: center;
	}

	.card-title {
		margin-bottom: 10px;
	}

	.card-subtitle {
		margin-top: 0 !important;
	}

	@include screen-general {
		width: calc(33.33% - 26.66px);
	}

	@include screen-small {
		width: calc(50% - 10px);
		margin-top: 0;

		.card-title {
			font-size: 16px;
		}

		.card-subtitle {
			font-size: 12px;
		}
	}
}
