@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/global-components';

.card-team {
	background-color: $white;
	flex-basis: 18%;
	width: calc(20% - 80px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid $black;

	.card-img-team,
	.card-title,
	.card-media-content,
	.card-content,
	.card-subtitle {
		color: $black;
	}

	.card-img-team {
		display: flex;
		justify-content: center;
	}

	@include screen-general {
		flex-basis: 23%;
		width: calc(25% - 60px);
	}

	@include screen-medium {
		flex-basis: 31%;
		width: calc(33.33% - 40px);
	}

	@include screen-small {
		flex-basis: 45%;
		width: calc(50% - 20px);
	}

	@include screen-mobile {
		flex-basis: 90%;
		width: 100%;
	}
}
