@import "../../styles/variables";
@import "../../styles/mixins";


.info-container {
    // outline: 2px solid blue;
    background-color: $backroundTeam;
    color: $textTeam;
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 50px;

    .info-tilte-section {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
            width: 10px;
            height: 12vh;
            background-color: $textTeam;
            border-radius: 15px;
        }

        .info-titles-container {

            .info-title {
                padding-bottom: 5px;
                font-weight: 400;
            }
    
            .info-title, .info-subtitle {
                color: $textTeam;
                margin-block: 0;
                letter-spacing: 0px;
            }
        }
    }

    p {
        //Padding-left = info-tilte-section -> gap
        padding-left: 15px;
        color: $black;
    }

    @include screen-general {
        padding-bottom: 15px;

        .info-tilte-section span {
            height: 7vh;
        }
    }
    
    @include screen-medium{

        .info-tilte-section span {
            width: 8px;
        }

        .info-titles-container .title.is-1 {
            font-size: 2rem;
        }
    }

    @include screen-small {

        .info-tilte-section span {
            width: 5px;
            height: 5vh;
        }

        .info-titles-container .title.is-1 {
            font-size: 1.5rem;
        }
    }    
}