$backroundTeamColor: #f9f8fe;
$textTeamColor: #7B82FB;

.card-team {
    background-color: $backroundTeamColor;
    color: $textTeamColor;
    height: 300px;

    .card-img-team, .card-title, .card-media-content, .card-content, .card-subtitle {
        background-color:white;
        color: $textTeamColor;
    }
}