.info-container {
  background-color: #fdfdfe;
  color: #7B82FB;
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 50px;
}
.info-container .info-tilte-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 5px solid #7B82FB;
  padding-left: 15px;
}
.info-container .info-tilte-section .info-title {
  padding-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0px;
}
.info-container .info-tilte-section .info-title, .info-container .info-tilte-section .info-subtitle {
  color: #7B82FB;
  margin-block: 0;
  letter-spacing: 0px;
}
.info-container p {
  padding-left: 15px;
  color: #131517;
}
@media only screen and (max-width: 1279px) {
  .info-container {
    padding-bottom: 15px;
  }
  .info-container .info-tilte-section .title.is-1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1023px) {
  .info-container .info-tilte-section .title.is-1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .info-container .info-tilte-section .title.is-1 {
    font-size: 1.5rem;
  }
}