@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/global-components';

.info-container {
	color: $black;

	h2 {
		margin-top: 0 !important;
	}

	.info-details {
		padding-top: 50px;
	}
}
