@import "../../styles/variables";
@import "../../styles/mixins";

.team-container {
    width: 100%;
    padding-bottom: 20px;
    background-color: $white;
    display: flex;
    justify-content: center;
    gap: 40px;

    .card-team {
        background-color: $white;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // color: $textTeam;
        
        .card-img-team, .card-title, .card-media-content, .card-content, .card-subtitle {
            color: $black;
        }
    
        &:hover {
            box-shadow: 9px 9px 0 0 $green;
        }
    }
    
    @include screen-general {
        flex-wrap: wrap;
    }

    @include screen-medium {
        
    }

    @include screen-small {
        gap: 20px;
        // flex-wrap: wrap;
    }

}

