@import '../../styles/variables';
@import '../../styles/mixins';

.team-container {
	width: 100%;
	padding-bottom: 30px;
	background-color: $white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;

	@include screen-small {
		gap: 20px;
	}
}
