@import "../../styles/variables";
@import "../../styles/mixins";

.team-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;

	@include screen-small {
		gap: 20px;

		&--general .card-team {
			width: 100%;
		}
	}
}
