.team-container {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
@media only screen and (max-width: 1279px) {
  .team-container {
    margin-left: 15px;
  }
}