@import "../../styles/variables";
@import "../../styles/mixins";


.team-container {
    // outline: 2px solid black;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;

    @include screen-general {
        margin-left: 15px;
    }

}