@import "/src/styles/variables";
@import "/src/styles/mixins";

.portfolio-carousel {
	.splide {
		padding-bottom: 3em;

		.portfolio-item {
			height: 100%;
			display: flex;
			border: 1px solid $black;

			.portfolio-item__actions {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding: 30px;
				position: relative;
				transition: 0.3s ease all;
				width: 100%;
				top: 52px;
				color: $black;

				&--no-link {
					top: 25px;
				}

				p {
					font-weight: bold;
					font-size: 1.3em;
				}

				span {
					line-height: 25px;
				}
			}

			svg {
				fill: $black;
				transition: 0.3s ease all;
				margin-left: 10px;
			}

			&:hover {
				.portfolio-item__actions {
					background: rgba($white, 0.65);
					top: 0;
				}

				svg {
					transform: rotate(-45deg);
				}
			}
		}
	}

	@include screen-mobile {
		&--cut-bottom-padding {
			margin-bottom: -4em;

			.splide {
				padding-bottom: 0;
			}
		}

		.splide {
			margin: 0 -20px;

			.portfolio-item .portfolio-item__actions {
				top: 0;
				padding: 15px 20px;

				p {
					padding-bottom: 3px !important;
				}
			}
		}
	}
}
