@import "/src/styles/variables";
@import "/src/styles/mixins";

.portfolio-carousel {
	.splide {
		padding-bottom: 3em;

		.portfolio-item {
			height: 100%;
			display: flex;
			align-items: flex-end;
			color: $black;

			p {
				font-weight: bold;
				font-size: 1.3em;
			}

			svg {
				fill: $black;
				transition: 0.3s ease all;
				margin-left: 10px;
			}

			&:hover svg {
				transform: rotate(-45deg);
			}
		}
	}

	@include screen-mobile {
		&--cut-bottom-padding {
			margin-bottom: -4em;

			.splide {
				padding-bottom: 0;
			}
		}

		.splide {
			margin: 0 -20px;
		}
	}
}
