.vm-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    font-weight: bold;
    transition: 0.3s ease all;
    text-transform: capitalize;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    font-family: $font-family;
    -webkit-appearance: none;
    text-decoration: none !important;

    &.button {
        border: none;

        &.is-loading::after {
            border-color: $black;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    &.vm-button--black {
        background: $black;
        color: $white !important;

        &:hover {
            background: $green;
            color: $black !important;
        }
    }

    &.vm-button--black-transparent {
        background: none;
        border: 1px solid $black;
        color: $black;

        &:hover {
            background: $black;
            color: $white;
        }
    }

    &.vm-button--white {
        background: $white;
        color: $black;

        &:hover {
            background: $green;
        }
    }

    &.vm-button--green {
        background: $green;
        color: $black;

        &:hover {
            background: $black;
            color: $green;
        }
    }

    &.vm-button--green-alt {
        background: $green;
        color: $black;

        &:hover {
            background: $white;
            color: $black;
        }
    }

    &.vm-button--transparent-white {
        border: 1px solid $white;
        color: $white;

        &:hover {
            background: $white;
            color: $black !important;
        }
    }

    &.vm-button--big {
        padding: 20px 50px;
        font-size: 1.3em;

        @include screen-small {
            padding: 20px 30px;
        }
    }

    &.vm-button--small {
        font-size: 0.85em;
    }

    &.vm-button--underline {
        border: none;
        padding: 15px 0;
        position: relative;
        text-decoration: none;
        width: max-content;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &-white {
            background-color: transparent;
            color: $white;

            &::after {
                background-color: $white;
            }
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.themes-button {
    display: inline-block;
}