.vm-button {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    font-weight: bold;
    transition: 0.3s ease all;
    text-transform: capitalize;
    font-size: 1em;

    &.vm-button--white {
        background: $white;
        color: $black;

        &:hover {
            background: $green;
        }
    }

    &.vm-button--green {
        background: $green;
        color: $black;

        &:hover {
            background: $black;
            color: $green;
        }
    }

    &.vm-button--transparent-white {
        border: 1px solid $white;

        &:hover {
            background: $white;
            color: $black !important;
        }
    }

    &.vm-button--big {
        padding: 20px 50px;
        font-size: 1.3em;

        @include screen-small {
            padding: 20px 30px;
        }
    }
}
