.images-mini-banner {
    background: $darkGrey;
    padding: 2em 0;
    overflow: hidden;

    ul {
        display: flex;
        flex-wrap: nowrap;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 350px;
            max-width: 350px;
            padding: 0 20px;

            @include screen-small {
                min-width: 150px;
                max-width: 150px;
            }
        }
    }
}
