.client-quote {
    background: $lightYellow;

    .client-quote__content {
        position: relative;

        .fa-quote-left {
            position: absolute;
            left: -50px;
            top: -70px;
            font-size: 200px;
            opacity: 0.1 !important;
            color: $black;
        }

        h3 {
            font-weight: bolder;
            margin-bottom: 10px;
            line-height: 1.2;
        }

        h4 {
            margin-bottom: 2em;
            line-height: 1.2;

            @include screen-small {
                font-weight: 500;
                font-size: 1.2em;
            }
        }

        p span {
            display: block;

            &:first-child {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }

    h3,
    h4,
    p {
        color: $black;
        line-height: 1;
    }
}
