.simple-card {
    background: $white;
    border: 1px solid $black;
    box-shadow: 4px 4px 0 0 $green;
    padding: 20px;

    &--pink-border {
        box-shadow: 4px 4px 0 0 $pink;
    }

    &--alternative-background {
        background: $lightYellow;
    }

    .simple-card__title {
        margin-bottom: 0.75em;
    }
}

.medium-card {
    box-shadow: 9px 9px 0 0 $black;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;

    &--pink-border {
        box-shadow: 9px 9px 0 0 $pink;
    }

    &--alternative-background {
        background: $lightYellow;
    }

    &__info {
        background: $grey;
        border-bottom: 1px solid $border;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            margin-bottom: 15px;
            position: relative;

            &:after {
                content: "";
                display: inline-block;
                height: 4px;
                width: 100%;
                position: absolute;
                bottom: -10px;
                left: 0;
                background: $green;
                mix-blend-mode: multiply;
                background: linear-gradient(90deg, $green 0%, $pink 100%);
            }
        }

        p {
            font-size: 0.85em;
            font-weight: 500;
        }
    }

    &__features {
        padding: 20px;
        margin-bottom: auto;
        flex: 1;

        h3 {
            margin-bottom: 15px;
        }

        ul {
            li {
                margin-bottom: 7px;
                font-size: 0.85em;
                display: flex;
                align-items: flex-start;

                span {
                    display: inline-flex;
                    background: $green;
                    min-width: 20px;
                    min-height: 20px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    margin-right: 10px;
                }

                p {
                    text-transform: capitalize;
                }
            }
        }
    }

    &__cta {
        padding: 20px;
        background: $grey;
        border-top: 1px solid $border;

        > a {
            display: inline-block;
        }
    }
}

.list-of-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .simple-card {
        flex: 1;
    }
}
