.heading-block {
    border-left: 5px solid $green;
    padding: 10px 0 10px 20px;

    &--reverse {

        h2 {
            margin-block: 0 !important;
        }
    }

    &--black {
        color: $black;
    }

    p {
        font-size: 1.4em;
    }

    @include screen-small {
        .title {
            font-size: 2em;
        }
    }
}

.title {
    color: inherit;

    span {
        font-weight: bolder;
    }

    @include screen-small {
        font-size: 1.75em;
    }
}

.vm-section {
    padding: 100px 0;

    &--background-white {
        background-color: $white;
        color: $black;
    }

    @include screen-small {
        padding: 50px 0;
    }
}

.vm-bg--white {
    background-color: $white;
    color: $black;
}

.vm-bg--black {
    background-color: $black;
    color: $white;
}