.title {
    color: inherit;
    font-size: 3em;

    span {
        font-weight: bolder;
    }

    @include screen-small {
        font-size: 1.75em;

        &.is-1 {
            font-size: 1.75em;
        }

        &.is-2,
        &.is-3 {
            font-size: 1.65em;
        }
    }
}

.vm-section {
    padding: 6em 0;

    &--background-white {
        background-color: $white;
        color: $black;
    }

    @include screen-small {
        padding: 4em 0;
    }
}

.vm-bg--white {
    background-color: $white;
    color: $black;
}

.vm-bg--black {
    background-color: $black;
    color: $white;
}

.select select,
.textarea,
.input {
    font-size: 1.1em;
}
