.field:not(:last-child) {
	margin-bottom: 1.1em;
}

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
.file-cta,
.file-name,
.select select,
.textarea,
.input,
.button {
	height: 3em;
}

.input,
.textarea {
	transition: 0.3s ease all;

	&.is-danger {
		border-width: 1px 1px 1px 10px;
	}
}

p {
	line-height: 1.5;
}

.file-label {
	.file-icon {
		margin-right: 0;
	}

	.file-name {
		line-height: 2em;
	}
}
