$green: var(--green, #22ffb8);
$green2: #10dab9;
$black: #131517;
$white: #ffffff;
$pink: #dd0047;
$grey: #fafafa;
$lightGrey: #dddddd;
$border: #dddddd;
$blackZero: #000;
$lightYellow: #fff5eb;
$darkGrey: #575757;
$yellow: #ffc800;
$blue: #3f5efb;
$lightBlue: #23a6d5;
$orange: #ee7752;
$turquoise: #65ffe8;

$font-family: 'Montserrat', sans-serif;
$font-family-secondary: 'Inconsolata', monospace;
