$green: #22ffb8;
$black: #131517;
$white: #ffffff;
$pink: #dd0047;
$grey: #dddddd;
$blackZero: #000;
$lightYellow: #fff5eb;

$font-family: "Montserrat", sans-serif;
$font-family-secondary: "Inconsolata", monospace;
