$green: #22ffb8;
$black: #131517;
$white: #ffffff;
$pink: #dd0047;
$grey: #fafafa;
$lightGrey: #dddddd;
$border: #dddddd;
$blackZero: #000;
$lightYellow: #fff5eb;
$darkGrey: #575757;
$yellow: #ffc800;

$font-family: "Montserrat", sans-serif;
$font-family-secondary: "Inconsolata", monospace;
