$fullhd: 1600px;
$radius: 0;
$radius-small: $radius;
$radius-large: $radius;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

@import "bulma/bulma.sass";

@import "reset";
@import "overrides";
@import "variables";
@import "mixins";
@import "buttons";
@import "global-components";
@import "component-heading-block";
@import "component-quote";
@import "component-image-with-text";
@import "component-split-nav";
@import "component-bottom-cta";
@import "component-images-mini-banner";
@import "component-cards";
@import "pages";

html {
    background: $black;
}

body {
    font-family: $font-family;
    font-size: 18px;
    color: $white;

    @include screen-general {
        font-size: 17px;
    }

    @include screen-small {
        font-size: 16px;
    }
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

.container {
    @include screen-medium {
        padding: 0 20px;
    }
}
