@import '/src/styles/variables';
@import '/src/styles/mixins';
@import "global-components";

.team-wrapper {
	background-color: $white;
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding-top: 50px;
}
