.container-section {
  background-color: #f9f8fe;
  display: flex;
  margin-top: 90px;
  height: calc(100vh - 225.8px);
  gap: 40px;
  padding-left: 50px;
  padding-top: 50px;
}
.container-section .container-team-members {
  width: 50%;
  display: flex;
  gap: 200px;
  background-color: #f9f8fe;
  flex-direction: column;
  align-items: center;
}
.container-section .container-team-members-pair {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}