@import "/src/styles/variables";
@import "/src/styles/mixins";

.team-wrapper {
    background-color: $backroundTeam;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: 50px;
    gap: 10px;
    // height: calc(100vh - 225.8px);
    // outline: 2px solid red;

}