
@import "/src/styles/variables";
@import "/src/styles/mixins";

.team-wrapper {
    background-color: $backroundTeam;
    display: flex;
    margin-top: 90px;
    height: calc(100vh - 225.8px);
    padding: 50px;
    // gap: 40px;
    // outline: 2px solid yellow;

    @include screen-general {
        flex-direction: column;
    }
}