@import '../../styles/variables';
@import '../../styles/mixins';

.page-text-lext-bar {
	flex: 1;
    margin-right: 100px;

	li {
		border-bottom: 1px solid grey;
		padding: 20px 0;

		h6 {
			margin-bottom: 0 !important;
			padding-bottom: 7px;
		}
	}

    @include screen-small {
        margin-right: 40px;
    }
}

.page-text-content {
	margin-left: auto;
	flex: 3;

	p {
	    max-width: 75ch;
	}
}
