@import "/src/styles/variables";
@import "/src/styles/mixins";

.reviews-section {
    display: flex;
    flex-direction: column;

    &:hover li .review {
        opacity: 0.3;
    }

    li {
        width: calc(100% - 280px);
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0 !important;
        }

        .review {
            padding: 40px;
            display: flex;
            align-items: center;
            border: 1px solid $black;
            box-shadow: 9px 9px 0 0 $green;
            transition: 0.3s linear all;
            position: relative;

            .review__actions {
                position: absolute;
                left: calc(100% - 30px);
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                gap: 10px;
                transition: 0.3s linear all;
                opacity: 0;
                visibility: hidden;
            }

            .review__left {
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .review__stars {
                    margin-bottom: 20px;
                    border-bottom: 1px solid rgba($white, 0.4);

                    svg {
                        color: $yellow;
                    }
                }

                .review__name {
                    white-space: nowrap;

                    p:first-child {
                        font-weight: bold;
                    }
                }
            }

            .review__text {
                padding-left: 50px;
                line-height: 1.5;
                text-align: right;
                position: relative;
                font-weight: 500;

                @include screen-medium {
                    font-size: 1.1em;
                }

                .fa-quote-left {
                    position: absolute;
                    left: 50px;
                    top: -20px;
                    font-size: 70px;
                    opacity: 0.1;
                }
            }
        }

        &:nth-child(2n) {
            align-self: flex-end;

            .review .review__actions {
                left: auto !important;
                right: calc(100% - 30px);
            }
        }

        &:hover {
            .review {
                opacity: 1 !important;
                box-shadow: 4px 4px 0 0 $green;

                .review__actions {
                    left: calc(100% + 30px);
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:nth-child(2n) .review .review__actions {
                left: auto;
                right: calc(100% + 30px);
            }
        }

        @include screen-medium {
            width: 100%;

            .review {
                opacity: 1 !important;

                .review__actions {
                    display: none !important;
                }
            }
        }

        @include screen-small {
            .review {
                flex-direction: column-reverse;
                align-items: center;

                .review__left {
                    margin-top: 20px;
                    width: auto;
                    align-items: center;
                    text-align: center;

                    .review__stars {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                    }
                }

                .review__text {
                    padding: 0;
                    text-align: center;

                    .fa-quote-left {
                        left: -20px;
                    }
                }
            }
        }
    }
}
