.services-list:after, .services-list:before {
  opacity: 0.02 !important;
  background-attachment: fixed;
}
.services-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}
.services-list ul li {
  background: #131517;
  overflow: hidden;
  position: relative;
  width: calc(33.33% - 1.35em);
  -webkit-box-shadow: 9px 9px 0 0 #22ffb8;
          box-shadow: 9px 9px 0 0 #22ffb8;
}
.services-list ul li .service__background-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -350px;
  position: absolute;
  right: -400px;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}
.services-list ul li .service__background-image svg {
  color: #22ffb8;
  opacity: 0.7;
  width: 600px;
  height: 600px;
}
.services-list ul li > a {
  position: relative;
  z-index: 2;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services-list ul li > a .service__icon {
  background: #22ffb8;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.services-list ul li > a p {
  opacity: 0.7;
  margin-bottom: 30px;
}
.services-list ul li > a .vm-button {
  margin-top: auto;
}
.services-list ul li:hover > a .service__icon {
  background: #ffffff;
}
.services-list ul li:hover .service__background-image {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: rotate(70deg) scale(1.1);
          transform: rotate(70deg) scale(1.1);
}
@media only screen and (max-width: 1215px) {
  .services-list:after, .services-list:before {
    opacity: 0.07 !important;
  }
  .services-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-list ul li {
    width: 700px;
  }
  .services-list ul li:nth-child(2n) {
    margin-left: auto;
  }
  .services-list ul li > a {
    padding-right: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .services-list ul li {
    width: 100%;
  }
  .services-list ul li > a {
    padding-right: 30px;
  }
}