@import "../../styles/mixins";
@import "../../styles/variables";

.services-list {
    &:after,
    &:before {
        opacity: 0.02 !important;
        background-attachment: fixed;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;

        li {
            background: $black;
            overflow: hidden;
            position: relative;
            width: calc(33.33% - 1.35em);
            box-shadow: 9px 9px 0 0 $green;

            .service__background-image {
                display: flex;
                transform: rotate(90deg);
                top: -350px;
                position: absolute;
                right: -400px;
                transition: 0.7s ease all;

                svg {
                    color: $green;
                    opacity: 0.7;
                    width: 600px;
                    height: 600px;
                }
            }

            > a {
                position: relative;
                z-index: 2;
                padding: 30px;
                display: flex;
                color: $white;
                height: 100%;
                align-items: flex-start;
                flex-direction: column;

                .service__icon {
                    background: $green;
                    padding: 10px;
                    border-radius: 5px;
                    display: inline-block;
                    margin-bottom: 30px;
                    transition: 0.3s ease all;
                }

                p {
                    opacity: 0.7;
                    margin-bottom: 30px;
                }

                .vm-button {
                    margin-top: auto;
                }
            }

            &:hover {
                > a .service__icon {
                    background: $white;
                }

                .service__background-image {
                    filter: invert(1);
                    transform: rotate(70deg) scale(1.1);
                }
            }
        }
    }

    @include screen-general {
        &:after,
        &:before {
            opacity: 0.07 !important;
        }

        ul {
            flex-direction: column;

            li {
                width: 700px;

                &:nth-child(2n) {
                    margin-left: auto;
                }

                > a {
                    padding-right: 150px;
                }
            }
        }
    }

    @include screen-small {
        ul li {
            width: 100%;

            > a {
                padding-right: 30px;
            }
        }
    }
}
