.services-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.services-list ul li {
  background: #131517;
  overflow: hidden;
  position: relative;
  width: calc(33.33% - 1.35em);
  box-shadow: 9px 9px 0 0 #22ffb8;
}
.services-list ul li .service__background-image {
  position: absolute;
  z-index: 1;
  top: -300px;
  right: -200px;
  opacity: 0.5;
  transform: rotate(75deg);
}
.services-list ul li > a {
  position: relative;
  z-index: 2;
  padding: 30px;
  display: block;
  color: #ffffff;
}
.services-list ul li > a .service__icon {
  background: #22ffb8;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 30px;
}
.services-list ul li > a p {
  opacity: 0.7;
  margin-bottom: 30px;
}