@import '../../styles/variables';
@import '../../styles/mixins';

footer {
	border-top: 5px solid $green;
	padding-block: 50px;
	// display: flex;
	// flex-direction: column;

	a {
		color: $white;
		margin-bottom: 5px;

		&:hover {
			color: $green;
		}
	}

	.footer-logo {
		width: 150px;
	}

	.footer-copyright {
		position: relative;
		padding-top: 30px;
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-copyright::after {
		content: '';
		position: absolute;
		background-color: grey;
		width: 80%;
		height: 1px;
		top: 0;
	}

	@include screen-medium {
		.footer-logo {
			padding-bottom: 20px;
			margin-right: auto;
			margin-left: auto;
		}

		.columns {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}
