footer {
  border-top: 5px solid #22ffb8;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
}
footer .footer-content {
  display: flex;
  justify-content: space-evenly;
}
footer .footer-content .footer-logo {
  width: 150px;
}
footer .footer-content a {
  color: #ffffff;
  margin-bottom: 5px;
}
footer .footer-content .footer-column {
  display: flex;
  flex-direction: column;
}
footer .footer-content .footer-row {
  display: flex;
}
footer .footer-content .footer-row a {
  margin-right: 15px;
}
@media only screen and (max-width: 767px) {
  footer .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-content .footer-logo {
    padding-bottom: 20px;
  }
  footer .footer-content .footer-column {
    padding-top: 20px;
  }
}
footer .footer-copyright {
  position: relative;
  padding-top: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-copyright::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 80%;
  height: 1px;
  top: 0;
}
footer .footer-copyright a {
  color: #ffffff;
}