@import "../../styles/variables";
@import "../../styles/mixins";

.blog-listings-filters {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    li {
        padding: 7px 15px;
        border: 1px solid $black;
        user-select: none;
        cursor: pointer;
        transition: 0.3s ease all;
        text-transform: capitalize;

        &:hover,
        &.active {
            background: $black;
            color: $white;
        }
    }
}

.blog-listings {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    .vm-section {
        width: 100%;

        &:first-of-type {
            padding: 0;
        }
    }

    .blog-listings__popular-section {
        flex: 1;
        margin-bottom: 50px;

        .blog-listings__popular-flex {
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
        }

        @include screen-medium {
            margin-bottom: 20px;
        }
    }

    .blog-listings__featured {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        @include screen-large {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @include screen-small {
            display: flex;
            flex-direction: column;
            padding-bottom: 0;
            gap: 20px;
        }
    }

    .blog-listings__normal {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include screen-medium {
            gap: 30px;
        }
    }
}
