@import "/src/styles/variables";
@import "/src/styles/mixins";

.grid-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 3em;

    li {
        width: calc(33.33% - 20px);
        box-shadow: 9px 9px 0 0 $green;
        overflow: hidden;

        .grid-list-item__content {
            height: 400px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            padding: 20px;
            transition: 0.3s ease all;
            position: relative;

            h4,
            span {
                color: $black;
            }

            h4 {
                font-weight: bold;
                margin-bottom: 15px;
            }

            span {
                line-height: 24px;
            }

            svg {
                fill: $black;
                transition: 0.3s ease all;
                margin-left: 10px;
            }

            &--active {
                h4,
                span {
                    transition: 0.3s ease all;
                    top: 42px;
                    position: relative;
                }
            }

            &--active:hover {
                background: rgba($white, 0.65);

                h4,
                span {
                    top: 0;
                }

                svg {
                    transform: rotate(-45deg);
                }
            }
        }

        @include screen-general {
            .grid-list-item__content {
                height: 350px;
            }
        }

        @include screen-medium {
            width: calc(50% - 15px);
        }

        @include screen-small {
            width: 100%;

            .grid-list-item__content {
                height: 250px;
                background: rgba($white, 0.65);

                &--active {
                    h4,
                    span {
                        top: 0;
                    }
                }
            }
        }
    }
}
