@import "../../styles/variables";
@import "../../styles/mixins";

.cookie-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 5px solid $green;
	padding: 50px 0 ;
	background: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: unset;
    z-index: 3;
    transition: opacity 2s linear;
    

    &__buttons-wrapper {
        display: grid;
        grid-template-columns: 1;
        gap: 10px;
        align-items: center;

        .vm-button {
            font-size: 0.9rem;
            width: 100%;
            white-space: normal;
        }
    }

    @include screen-small {
        &__info {
            text-align: center;
        }
    }
}