@import "../../styles/variables";
@import "../../styles/mixins";

.homepage-services {
    background: $white;
    padding: 100px 0;
    margin-bottom: 1000px;

    .homepage-services__intro {
        margin-bottom: 20px;

        .intro__time {
            text-align: center;
            margin-bottom: 50px;
            font-size: 3em;
            text-transform: uppercase;

            span {
                display: inline-block;

                &:nth-child(2) {
                    color: $pink;
                    margin: 0 10px;
                }
            }
        }

        .intro__text {
            text-align: center;
            font-size: 2em;
        }
    }

    .homepage-services__blocks {
        margin-bottom: 100px;

        p {
            font-size: 10em;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            position: relative;
            // transition: .1s linear all;

            span {
                &:nth-child(2n) {
                    -webkit-text-stroke: 1px;
                    -webkit-text-stroke-color: $black;
                    color: $white;
                }
            }

            &:nth-child(2) span {
                color: $pink;

                &:nth-child(2n) {
                    -webkit-text-stroke: 1px;
                    -webkit-text-stroke-color: $pink;
                    color: $white;
                }
            }
        }
    }

    .homepage-services__heading {
        position: relative;
        text-align: center;
        font-size: 4em;
        text-transform: uppercase;
        font-weight: bold;

        span {
            display: inline-block;
            position: relative;
            cursor: default;
            transition: 0.3s ease all;

            &:nth-child(2) {
                margin: 0 10px;
                color: $pink;
            }
        }
    }
}
