@import "/src/styles/variables";
@import "/src/styles/mixins";

.homepage-services {
    background: $white;
    color: $black;

    .homepage-services__list {
        display: flex;
        gap: 40px;
        margin-top: 50px;

        @include screen-medium {
            flex-direction: column;
        }
    }
}

.hs-list__block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;

    &--shadow {
        box-shadow: 9px 9px 0 0 $green;
        border: 1px solid $black;
    }

    .hs-block__icon {
        font-size: 40px;
        color: $black;
        position: relative;
        margin-bottom: 20px;
    }

    .hs-block__plus {
        display: none;
        position: absolute;
        font-size: 40px;
        right: 20px;
        bottom: 20px;
    }

    > a {
        margin-top: auto;
        color: $black;
        text-decoration: underline;
        font-weight: 600;

        &:hover {
            text-decoration: none;
        }
    }

    @include screen-medium {
        > p,
        .hs-block__items {
            height: 0;
            overflow: hidden;
            transition: 0.5s linear all;
        }

        .hs-block__plus {
            display: inline-block;
        }
    }
}

.hs-block__items {
    margin: 20px 0 40px;

    li {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .hs-block-items__icon {
            margin-right: 10px;
            color: $grey;
        }
    }
}

.homepage-sevices__actions {
    margin-top: 40px;

    p {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}
