.select {
    select {
        &:focus {
            outline: none;
            border-color: #0FEAA1;
        }
    }

    &:not(.is-multiple):not(.is-loading)::after {
        border-color: #131517;
    }
}