.main-contact {
  position: relative;
  overflow: hidden;
}
.main-contact .main-contact__pattern-one {
  position: absolute;
  bottom: -300px;
  left: -200px;
}
.main-contact .main-contact__pattern-one svg {
  width: 700px;
  height: 700px;
  color: #22ffb8;
  opacity: 0.5;
}
.main-contact .container {
  display: flex;
}
.main-contact .container .main-contact__intro {
  flex: 1;
  margin-right: 2em;
}
.main-contact .container .main-contact__intro .title {
  color: #ffffff;
}
.main-contact .container .main-contact__form {
  width: 550px;
}
@media only screen and (max-width: 1023px) {
  .main-contact .main-contact__pattern-one {
    opacity: 0.4;
  }
  .main-contact .container {
    flex-direction: column;
    text-align: center;
  }
  .main-contact .container .main-contact__intro {
    margin-right: 0;
  }
  .main-contact .container .main-contact__form {
    width: auto;
  }
}