@import "../../styles/variables";
@import "../../styles/mixins";

.main-contact {
    position: relative;
    overflow: hidden;

    .main-contact__pattern-one {
        position: absolute;
        bottom: -300px;
        left: -200px;
        z-index: 2;

        svg {
            width: 700px;
            height: 700px;
            color: $green;
            opacity: 0.5;
        }
    }

    .main-contact__background-image {
        position: absolute !important;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0.1 !important;
    }

    .container {
        z-index: 3;
        display: flex;

        .main-contact__intro {
            flex: 1;
            margin-right: 2em;

            .title {
                color: $white;
            }

            p {
                max-width: 600px;
            }
        }

        .main-contact__form {
            width: 550px;
        }
    }

    @include screen-medium {
        .main-contact__pattern-one {
            opacity: 0.4;
        }

        .container {
            flex-direction: column;
            text-align: center;

            .main-contact__intro {
                margin-right: 0;

                p {
                    margin: 0 auto;
                }
            }

            .main-contact__form {
                width: auto;
            }
        }
    }
}
