.pagespeed-checker {
  margin: 0;
  text-align: center;
}
.pagespeed-checker .container h2 {
  color: #ffffff;
}
.pagespeed-checker .container > p {
  max-width: 1000px;
  margin: 0 auto 40px;
}
.pagespeed-checker .container .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagespeed-checker .container .control .input {
  height: 48px;
  margin-right: 20px;
  max-width: 540px;
}
@media only screen and (max-width: 767px) {
  .pagespeed-checker .container .control {
    display: block;
  }
  .pagespeed-checker .container .control .input {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.pagespeed-checker .pagespeed-checker__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagespeed-checker .pagespeed-checker__scores svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pagespeed-checker .pagespeed-checker__action {
  margin-top: 2em;
}

.score-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.score-circle .score-circle__info {
  position: absolute;
  top: calc(50% + 5px);
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  margin-bottom: 0 !important;
  line-height: 1;
  z-index: 1;
}
.score-circle .score-circle__info span {
  display: block;
}
.score-circle .score-circle__info span:last-child {
  font-weight: bolder;
  margin-top: 10px;
  font-size: 20px;
}
.score-circle .score-circle__animated {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
@media only screen and (max-width: 767px) {
  .score-circle {
    width: 150px;
  }
  .score-circle svg {
    width: 150px;
    height: 150px;
  }
  .score-circle .score-circle__info {
    font-size: 15px;
  }
}